.main {
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: auto;
}
#alert {
  display: none;
}
div.rmdb-header > div {
  background: rgb(0 0 0 / 40%);
  height: auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
::placeholder {
  color: white;
}
div.rmdb-movieinfo {
  background-size: cover !important;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;
  background-position: top center;
  min-width: 1000px;
}
div.rmdb-movieinfo > div {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-thumb {
  width: 350px;
  left: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-thumb > div > img {
  width: 500px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
  box-sizing: border-box;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-text {
  height: 100%;
  overflow: hidden;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  padding: 40px;
  color: #fff;
  box-sizing: border-box;
  left: 360px;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-text > h1 {
  color: #fff;
  font-family: Abel, sans-serif;
  font-size: 48px;
  margin: 0;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-text > h1 > span {
  color: #fff;
  font-family: Abel, sans-serif;
  font-size: 48px;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-text > p * {
  color: #fff;
  font-family: Abel, sans-serif;
  font-size: 18px;
  line-height: 26px;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-text > div.rmdb-flexcontainer {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
div.rmdb-movieinfo
  > div
  > div.rmdb-movieinfo-text
  > div.rmdb-flexcontainer
  > div {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  list-style-type: none;
}
div.rmdb-movieinfo
  > div
  > div.rmdb-movieinfo-text
  > div.rmdb-flexcontainer
  > div
  > h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  list-style-type: none;
}
div.rmdb-movieinfo
  > div
  > div.rmdb-movieinfo-text
  > div.rmdb-flexcontainer
  > div
  > div {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
div.rmdb-movieinfo
  > div
  > div.rmdb-movieinfo-text
  > div.rmdb-flexcontainer
  > div
  > div
  > * {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  list-style-type: none;
  margin-right: 20px;
}
.overview-text,
.imdb-rating-text,
.genres-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  line-height: 0;
  margin-top: 30px;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-text > div.rmdb-rating {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  width: 250px;
  height: 20px;
  margin-top: 20px;
  position: relative;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-text > div.rmdb-rating > meter {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  width: 70%;
}
div.rmdb-movieinfo > div > div.rmdb-movieinfo-text > div.rmdb-rating > p {
  color: #fff;
  position: absolute;
  margin: 0;
  right: 0;
  top: -3px;
  font-family: Abel, sans-serif;
  font-size: 18px;
  line-height: 26px;
}
.director {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 0;
  margin-top: 30px;
}

div.rmdb-movieinfo > div > span {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 5em;
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #fff;
}
div.rmdb-movieinfobar {
  width: 100%;
  height: 105px;
  background: #1c1c1c;
  position: relative;
  padding: 25px 20px 0;
  box-sizing: border-box;
  font-family: Abel, sans-serif;
  font-size: 22px;
  min-width: 1000px;
}
div.rmdb-movieinfobar > div {
  font-family: Abel, sans-serif;
  font-size: 22px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
div.rmdb-movieinfobar > div > div:nth-child(1) {
  font-family: Abel, sans-serif;
  font-size: 22px;
  color: #fff;
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px 20px 0 0;
}
div.rmdb-movieinfobar
  > div
  > div:nth-child(1)
  > span.fa.fa-clock-o.fa-2x.fa-time {
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 2em;
  float: left;
  margin-top: -4px;
}
div.rmdb-movieinfobar > div > div:nth-child(1) > span.rmdb-movieinfobar-info {
  font-family: Abel, sans-serif;
  font-size: 22px;
  color: #fff;
  padding: 5px 0 0 10px;
  float: left;
}
div.rmdb-movieinfobar > div > div:nth-child(2) {
  font-family: Abel, sans-serif;
  font-size: 22px;
  color: #fff;
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px 20px 0 0;
}
div.rmdb-movieinfobar
  > div
  > div:nth-child(2)
  > span.fa.fa-money.fa-2x.fa-budget {
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 2em;
  float: left;
  margin-top: -3px;
}
div.rmdb-movieinfobar > div > div:nth-child(2) > span.rmdb-movieinfobar-info {
  font-family: Abel, sans-serif;
  font-size: 22px;
  color: #fff;
  padding: 5px 0 0 10px;
  float: left;
}
div.rmdb-movieinfobar > div > div:nth-child(3) {
  font-family: Abel, sans-serif;
  font-size: 22px;
  color: #fff;
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px 20px 0 0;
}
div.rmdb-movieinfobar
  > div
  > div:nth-child(3)
  > span.fa.fa-ticket.fa-2x.fa-revenue {
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 2em;
  float: left;
  margin-top: -4px;
}
div.rmdb-movieinfobar > div > div:nth-child(3) > span.rmdb-movieinfobar-info {
  font-family: Abel, sans-serif;
  font-size: 22px;
  color: #fff;
  padding: 5px 0 0 10px;
  float: left;
}
div.movie-cast {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 0 0 30px;
}
div.movie-cast > div.d-flex.justify-content-between.align-align-items-center {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  display: flex !important;
  justify-content: space-between !important;
}

div.movie-cast
  > div.d-flex.justify-content-between.align-align-items-center
  > h3 {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 1.5rem !important;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  color: #343a40;
  background: linear-gradient(180deg, #adb5bd 35%, #343a40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div.movie-cast
  > div.d-flex.justify-content-between.align-align-items-center
  > div {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  padding-right: 3rem !important;
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 2.25rem;
}
div.movie-cast
  > div.d-flex.justify-content-between.align-align-items-center
  > div
  > label {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  cursor: pointer;
}
div.movie-cast
  > div.movie-cast__list.d-flex.flex-wrap.justify-content-md-center.justify-content-lg-start.justify-content-center.align-items-stretch {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: stretch !important;
  justify-content: flex-start !important;
}
div.movie-cast
  > div.movie-cast__list.d-flex.flex-wrap.justify-content-md-center.justify-content-lg-start.justify-content-center.align-items-stretch
  > * {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-right: 30px;
  max-width: 150px;
  text-align: center;
}
div.movie-cast
  > div.movie-cast__list.d-flex.flex-wrap.justify-content-md-center.justify-content-lg-start.justify-content-center.align-items-stretch
  > *
  > img {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  box-sizing: border-box;
  border-style: none;
  vertical-align: middle;
  width: 100%;
}
div.movie-cast
  > div.movie-cast__list.d-flex.flex-wrap.justify-content-md-center.justify-content-lg-start.justify-content-center.align-items-stretch
  > *
  > div {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.5;
  color: white;
  text-align: center;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 50px;
  padding: 10px;
}

div.movie-cast
  > div.movie-cast__list.d-flex.flex-wrap.justify-content-md-center.justify-content-lg-start.justify-content-center.align-items-stretch
  > *
  > div
  > span {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  color: white;
  font-weight: bolder;
  text-align: center;
  box-sizing: border-box;
  font-size: 80%;
  /* font-weight: 400; */
}
/* reviews */
.review-container {
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  color: white;
}

.review-container::after {
  content: "";
  clear: both;
  display: table;
}

.review-container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.review-container span {
  font-size: 20px;
  margin-right: 15px;
  background-color: rgb(0 0 0 / 40%);
}

@media (max-width: 500px) {
  .review-container {
    text-align: center;
  }
  .review-container img {
    margin: auto;
    float: none;
    display: block;
  }
}
/* post comment */
.post-comment-container {
  max-width: 800px;
  margin: 30px auto;
  background: transparent;
  border-radius: 8px;
  padding: 20px;
}
.comment {
  display: block;
  transition: all 1s;
}
.commentClicked {
  min-height: 0px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
}

.post-comment-container textarea {
  width: 100%;
  border: none;
  background: rgb(0 0 0 / 40%);
  padding: 2px 10px;
  height: 80%;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 2px solid #016ba8;
  color: white;
  font-weight: bolder;
  transition: all 0.5s;
  margin-top: 15px;
  resize: none;
  margin-left: 50%;
}
button.primaryContained {
  background: #016ba8;
  color: #fff;
  padding: 10px 10px;
  border: none;
  margin-top: 0px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 4px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  transition: 1s all;
  font-size: 10px;
  border-radius: 5px;
  margin-left: 50%;
}

button.primaryContained:hover {
  background: black;
}
/* review*/
#profileId {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 33px;
  line-height: 40px;
}
#profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: green;
  margin-right: 10px;
  display: inline-block;
}
